<h1>Current request.path {{ request.path }}</h1>
{% if user.is_authenticated %}
<p>Authenticated as
<pre>
Name: {{ user.get_full_name }}
Email: {{ user.email }}
Id: {{ user.id }}
</pre>
</p>
<p>You can <a href="{% url 'logout' %}?next={% url 'core:open' %}">Logout</a></p>
{% else %}
<p>You are not logged in</p>
<p>You can <a href="{% url 'login' %}?next={{ request.path }}">Login</a> if you like.</p>
{% endif %}
<ul>
    <li>
        <a href="{% url 'core:wells' %}"><button>Cуществующие скважины</button></a>
    </li>
    <li>
        Go to <a href="{% url 'core:open' %}">{% url 'core:open' %}</a>
            (no login required)
    </li>
    <li>
        Go to <a href="{% url 'core:apereo' %}">{% url 'core:apereo' %}</a>
            (no login required)
    </li>
    <li>
        Go to <a href="{% url 'core:manual' %}">{% url 'core:manual' %}</a>
            (protected by user.is_authenticated)
    </li>
    <li>
        Go to <a href="{% url 'core:protect' %}">{% url 'core:protect' %}</a>
            (protected by LoginRequiredMixin)
    </li>
    <li>
        Go to <a href="{% url 'core:python' %}">{% url 'core:python' %}</a>
            dump request.user data in python
    </li>
</ul>

<a href="{% url 'core:wells-table' %}">
   <button>Таблицы</button>
</a>
<a href="{% url 'core:wells-extraction-chart' %}">
   <button>Графики</button>
</a>
<br>
