<!DOCTYPE html>
{% load static %}
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Выберите тип графика, Free">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Графики</title>
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'css/chart_choice.css'%}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'js/jquery.js'%}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/base.js' %}" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "{% static 'images/logo_new.png' %}"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Графики">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode"><header class="u-clearfix u-header u-palette-3-light-2 u-header" id="sec-9501"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="{% url 'core:main' %}">
            <img style="height:32px; width:160px; margin-top: 10px;" class="logos" src="{% static 'images/drawn_logo.png' %}" >
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1.25rem; letter-spacing: 0px; font-weight: 600;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'core:main' %}" style="padding: 10px 20px;">Главная</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'core:chart-choice' %}"style="padding: 10px 20px;">Графики</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'core:objects' %}" style="padding: 10px 20px;">Объекты</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'core:map' %}" style="padding: 10px 20px;">Карта</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'core:table' %}" style="padding: 10px 20px;">Таблицы</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" style="padding: 10px 20px;" href="{% url 'login' %}">Выйти</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'core:main' %}">Главная</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'core:chart-choice' %}">Графики</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'core:objects' %}">Объекты</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'core:map' %}">Карта</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'core:table' %}">Таблицы</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'login' %}">Выйти</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-section-1" id="sec-0151">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Выберите тип графика</h2>
        <div class="u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row" style="">
              <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-white u-layout-cell-1">
                <div class="u-border-1 u-border-grey-30 u-container-layout u-container-layout-1">
                  <h4 class="u-align-center u-text u-text-2">График по выбранному объекту</h4>
                  <img class="u-image u-image-default u-preserve-proportions u-image-1" src="{%static 'images/bar_chart.png' %}" alt="" data-image-width="512" data-image-height="512">
                  <h6 class="u-align-justify u-text u-text-3">Используются данные по конкретной скважине</h6>
                  <a href="{% url 'core:wells-extraction-chart' %}" class="u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-8 u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Перейти</a>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                <div class="u-border-1 u-border-grey-30 u-container-layout u-container-layout-2">
                  <h4 class="u-align-center u-text u-text-4">График по всей компании</h4>
                  <img class="u-image u-image-contain u-image-default u-image-2" src="{%static 'images/pie_chart.png' %}" alt="" data-image-width="512" data-image-height="512">
                  <h6 class="u-align-justify u-text u-text-5">Используются данные, сгруппированные по пластам, месторождениям и ДО</h6>
                  <a href="{% url 'core:grouped-chart' %}" class="u-btn u-btn-round u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-8 u-btn-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Перейти</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-palette-3-light-2 u-footer" id="sec-4231"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h3 class="u-text u-text-1">2021-2022. All rights reserved<span style="font-size: 1.125rem;">
            <span style="font-size: 1.5rem;">
              <span style="font-size: 4.5rem;"></span>
            </span>
          </span>
        </h3>
      </div></footer>
  </body>
</html>