<!DOCTYPE html>
{% load static %}
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Настройки">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Графики</title>
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'css/company_chart.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'js/jquery.js'%}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/base.js' %}" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">


    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "{% static 'images/logo_new.png' %}"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Графики">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode"><header class="u-clearfix u-header u-palette-3-light-2 u-header" id="sec-9501"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="{% url 'core:main' %}">
            <img style="height:32px; width:160px; margin-top: 10px;" class="logos" src="{% static 'images/drawn_logo.png' %}" >
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1.25rem; letter-spacing: 0px; font-weight: 600;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'core:main' %}" style="padding: 10px 20px;">Главная</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'core:chart-choice' %}"style="padding: 10px 20px;">Графики</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'core:objects' %}" style="padding: 10px 20px;">Объекты</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'core:map' %}" style="padding: 10px 20px;">Карта</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="{% url 'core:table' %}" style="padding: 10px 20px;">Таблицы</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" style="padding: 10px 20px;" href="{% url 'login' %}">Выйти</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'core:main' %}">Главная</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'core:chart-choice' %}">Графики</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'core:objects' %}">Объекты</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'core:map' %}">Карта</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'core:table' %}">Таблицы</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'login' %}">Выйти</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-section-1" id="sec-2ed9">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-custom-color-3 u-layout-cell u-opacity u-opacity-55 u-size-21 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <h2 class="u-text u-text-default u-text-1">Настройки</h2>
                <div class="u-form u-form-1">
                  <form method="post" style="padding: 10px; margin-bottom: 20px">
                      {% csrf_token %}
                    <div class="u-form-group u-form-select u-label-top u-form-group-1">
                      <label for="group_by" class="u-label">Группировать по</label>
                      <div class="u-form-select-wrapper">
                        <select name="group_by" id="group_by" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                          <option {% if group_by == "Пласт" %} selected {% endif %} value="Пласт">Пласту</option>
                            <option {% if group_by == "Месторождение" %} selected {% endif %} value="Месторождение">Месторождению</option>
                            <option {% if group_by == "Организация" %} selected {% endif %} value="Организация">Организации</option>
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
                      </div>
                        <hr style="height:1px; visibility:hidden;" />
                    </div>
                    <div class="u-form-group u-form-select u-label-top u-form-group-2">
                      <label for="fields" class="u-label">Параметр</label>
                      <div class="u-form-select-wrapper">
                        <select name="fields" id="fields" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                          {% for key,value in fields.items %}
                            <option value={{value}}>{{key}}</option>
                            {% endfor %}
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
                      </div>
                    </div>
                      <hr style="height:1px; visibility:hidden;" />
                    <div class="u-form-group u-form-select u-label-top u-form-group-3">
                      <label for="aggregation_type" class="u-label">Тип агрегации</label>
                      <div class="u-form-select-wrapper">
                        <select name="aggregation_type" id="aggregation_type" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
                          <option {% if aggregation_type == "Суммировать" %} selected {% endif %} value="Суммировать">Сумма</option>
                          <option {% if aggregation_type == "Среднее арифметическое" %} selected {% endif %} value="Среднее арифметическое">Среднее арифметическое</option>
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
                      </div>
                    </div>
                    <div class="u-form-group u-form-radiobutton u-label-top u-form-group-4">

                      <div class="u-form-radio-button-wrapper">
                          <p>Отображать:</p>
                        <input id="Проценты" type="radio" name="representation" value="Проценты" {% if representation == "Проценты" %} checked {% endif %}>
                        <label class="u-label" for="Проценты">Проценты</label>
                        <br>
                        <input id="Значения" type="radio" name="representation" value="Значения" {% if representation == "Значения" %} checked {% endif %}>
                        <label class="u-label" for="Значения">Значения</label>
                        <br>
                      </div>
                    </div>
                    <div class="u-align-left u-form-group u-form-submit u-label-top">
                      <input type="submit" class="u-form-control-hidden">
                      <a href="{% url 'core:grouped-chart' %}" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-8 u-btn-1">Построить график<br>
                      </a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-39">
              <div class="u-container-layout u-container-layout-2">
                  {% if image_name %}
                <img src="{% get_media_prefix %}{{image_name}}" width="1100" height="587">
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="u-align-center u-clearfix u-footer u-palette-3-light-2 u-footer" id="sec-4231"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h3 class="u-text u-text-1">2021-2022. All rights reserved<span style="font-size: 1.125rem;">
            <span style="font-size: 1.5rem;">
              <span style="font-size: 4.5rem;"></span>
            </span>
          </span>
        </h3>
      </div></footer>
  </body>
</html>